body {
    background-color: rgb(170, 23, 23);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    margin-bottom: 2%;
}

.blackbar {
    background-color: rgb(48, 44, 44);
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    margin-top: -13px;
}   /*centered blackbars*/

h1 {
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif
}   /*indented header*/

.subtitle { 
    color: rgb(142, 32, 32);
    margin-bottom: 2%;
    font-family: 'Times New Roman', Times, sans-serif;
}   /*red subtitles*/

#gradeCalculator {
    background-color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-height: 450px;
}   /*centering white box*/

#outerbox {
    background-color: rgb(218, 223, 230);
    width: 80%;
    margin-left: 30px;
    border: 1px solid rgb(173, 166, 166);
    border-radius: 3px;
    margin-top: 20px;
}   /*greybox*/

#outerboxtext {
    margin-left: 20px;
    margin-right: 20px;
} /*centering text inside greybox*/

table, th, td {
    border: 1px solid black;
}   /*table border*/

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
} /* clean table border*/

th {
    text-align: left;
    background-color: rgba(186, 183, 183, 0.726);
    padding-left: 8px;
}   /*table header background color + allignment*/

td {
    height: 60px;
    padding-left: 8px;
}

input {
    height: 40px;
    width: 40px;
}   /*input bar sizing + alignment*/

#buttondiv{
    text-align: right;
    margin-right: -5px;
}   /*move buttons to right side*/

.resultbutton {
    background-color: rgb(170, 23, 23);
    color: white;
    border: none;
    width: 85px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-right: 5px;
}   /*buttons' color + size*/