body {
    background-color: rgb(146, 0, 0);
    font-family: Arial, sans-serif;
}

p {
    margin-bottom: 3%;
}

header, footer {
    background-color: rgb(0, 0, 0);
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}   /*centered blackbars*/

h1 {
    margin: 0;
    margin-left: 30px;
}   /*indented header*/

.subtitle { 
    color: red;
    margin-bottom: 3%;
}   /*red subtitles*/

#gradeCalculator {
    background-color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}   /*centering white box*/

#outerbox {
    background-color: rgb(166, 180, 195);
    width: 80%;
    margin-left: 30px;
    border: 1px solid white;
}   /*greybox*/

#outerboxtext {
    margin-left: 20px;
    margin-right: 20px;
} /*centering text inside greybox*/

table {
    border-collapse: collapse;
    width: 100%;
}

#gradesTable {
    margin-bottom: 2%;
}

table, th, td {
    border: 1px solid black;
}   /*table border*/

th {
    text-align: left;
    background-color: rgba(169, 169, 169, 0.726);
}   /*table header background color + allignment*/

table {
    border-collapse: collapse;
} /* clean table border*/

input {
    height: 40px;
    width: 40px;
}   /*input bar sizing */

#resultbuttons{
    text-align: right;
}   

.buttonscolor {
    background-color: red;
    color: white;
}